@model _08_DatosControlador.Models.clsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div> 
        <form method="post">
            <p>
                @Html.EditorFor(m => m.ID)
                @Html.ValidationMessageFor(m => m.ID)
            </p>

            <p>
                @Html.TextBox("nombre", null, new { @Placeholder = "Nombre" })
                @Html.ValidationMessageFor(m => m.nombre)
            </p>

            <p>
                @Html.TextBoxFor(m => m.apellidos, new { @PlaceHolder = "Apellidos" })
                @Html.ValidationMessageFor(m => m.apellidos)
            </p>

            <p>
                @if (Model.fechaNacimiento == new DateTime())
                {
                    <input name="fechaNacimiento" placeholder="Fecha Nacimiento" />
                }
                else
                {
                    @Html.TextBoxFor(m => m.fechaNacimiento, new { @PlaceHolder = "Fecha de Nacimiento" })
                }
                @Html.ValidationMessageFor(m => m.fechaNacimiento)
            </p>

            <p>
                @Html.TextBoxFor(m => m.direccion, new { @PlaceHolder = "Dirección" })
                @Html.ValidationMessageFor(m => m.direccion)
            </p>

            <p>
                @Html.TextBoxFor(m => m.telefono, new { @PlaceHolder = "Teléfono" })
                @Html.ValidationMessageFor(m => m.telefono)
            </p>



            
            

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
