@model _07_MVCInicioUI.Models.clsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@ViewData["Saludo"]</p>

        <p>@ViewBag.Fecha</p>

        <p>
            @Model.ID <br>
            @Model.nombre <br>
            @Model.apellidos <br>
            @Model.edad <br>
        </p>

        <p>@Html.ActionLink("Lista de Personas", "ListadoPersonas", "Home")</p>


    </div>
</body>
</html>
