@model _07_MVCInicioUI.Models.clsListaPersonas
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoPersonas</title>
</head>
<body>
    <div>
        <table cellspacing="20">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
            </tr>

                @foreach(_07_MVCInicioUI.Models.clsPersona persona in Model.listaPersonas)
                {
                    <tr>
                        <td>@persona.ID</td>
                        <td>@persona.nombre</td>
                        <td>@persona.apellidos</td>
                        <td>@persona.edad</td>
                    </tr>
                }
            
        </table>

        <p>@Html.ActionLink("Index", "Index", "Home")</p>
    </div>
</body>
</html>
